:root {
  --dark-color: #212529;
  --black-color: #000000;
  --lightgray-color: #dddddd;
  --main-color: #5285c5;
  --orange-color: #f38d3a;
  --white-color: #ffffff;
}

*{
    font-family: 'Century Gothic', Helvetica, Arial, sans-serif;
  }
  
  body {
    background-color: var(--white-color);
    color: var(--main-color);
    margin: 0;
  }
  
  a {
    color: var(--main-color);
    text-decoration: none;
  }
  h1 {
    font-size: 4.5vmin;
    font-weight: normal;
  }
  h4 {
    font-size: 4.5vmin;
    font-weight: normal;
    margin-block-start: 0;
    margin-block-end: 0;
  }
  hr {
    margin: 1.5rem 0;
    opacity: 0.5;
  }
  
  /*************************** HEADER **************************/
  #header{							/***** Contenedor div del header *****/
      background-color: var(--dark-color);
      width:100%;
      height: 12vmin;
  }

  .slogan {
    margin-left: auto;
    margin-right: auto;
  }
  
  #header img{								          /***** Logo header *****/
    width: 8vmin;
  }
  #header h1 {							        /***** Titulo header *****/
    margin-top: 3vmin;
    font-size: 4vmin;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    letter-spacing: 0.25vmin;
  }

  
  /*************************** MENU NAV **************************/
  nav div{
    width:100%;
    text-align: right;
    margin-top: -85px;
  }
  nav div a{
    color:var(--white-color);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    font-weight: bold;
    text-decoration: none;
    text-align:center;
    padding: 15px 2.5% 15px 2.5%;
    display:inline-block;
  }
  nav div a:hover{
    color:var(--white-color);
    background-color:rgba(0,0,0,0.1);
  }
  
  
  /*************************** BODY **************************/
  #encabezado{
    position: absolute;
    text-align: center;
    display: flex;
    top: 15vmin;
    right: 2vmin;
  }
  #encabezado h1{
    letter-spacing: 3px;
  }
  
  #contenido{
    text-align: center;
    font-size: 1.5rem;
    margin: 0 2.5rem;
  }
  #contenido div{
    display: block;
    float: left;
    width: 100%;
  }
  #contenido table{
    font-size: inherit;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-collapse: collapse;
    border-color: #dee2e6;
  }
  #contenido table th{
    background-color: var(--main-color);
    color: var(--white-color);
    font-size: 3vmin;
    font-weight: normal;
    padding: 1vmin 0 1vmin 0;
    border-bottom: 1.5px solid var(--black-color);
  }
  #contenido table td{
    padding: 1vmin 0 1vmin 0;
    color: var(--dark-color);
  }
  #contenido table tr:nth-child(even){background-color: rgba(0,0,0,0.05);}
  #contenido table tr:nth-child(odd){background-color: rgba(0,0,0,0);}
  #grupoFrutas{
     margin-left: 0!important;
  }
  #tablaDatos, #tablaDatos tr{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
  }
  #tablaDatos th{
    border: 1px inset white;
    font-weight: bolder;
    padding: 0 0.5vmin 0 0.5vmin;
  }
  #tablaDatos tr, #tablaDatos td{
    border: 1px inset white;
    padding: 0 0.5vmin 0 0.5vmin;
  }
  
  
  input[type=submit]{
    color: var(--white-color);
    background-color: var(--main-color);
    padding: 2vmin;
    border-radius: 10vmax;
    letter-spacing: 2px;
    font-size: inherit;
    width: 10vmin;
    cursor: pointer;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 1));
  }
  
 
   /*************************** FOOTER **************************/
   #piepagina{
    text-align: center;
    font-size: 3vmin;
    margin: 0 2.5rem;
  }
  
  
