*{
    font: 28px 'Century Gothic', Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
  }
  
  body {
    background: url("images/fondo.svg");
    background-size: cover;
    background-color: #300;
    color: white;
    font-size: 30px;
  }
  
  a {
    color: #00B7FF;
    text-decoration: none;
  }
  form {
    margin-block-end: 0em;
}
  
  /*************************** HEADER **************************/
  #header{							/***** Contenedor div del header *****/
      background-image: url("images/banner.jpg");
      background-size: cover;
      width:100%;
      height: 12vmin;
  }

  .slogan {
    margin-left: auto;
    margin-right: auto;
  }
  
  #header img{								          /***** Logo header *****/
    width: 8vmin;
    filter: drop-shadow(0.5px 0.5px 2px rgba(255, 255, 255, 1));
  }
  #header h1 {							        /***** Titulo header *****/
    margin-top: 3vmin;
    font-size: 4vmin;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    letter-spacing: 0.5vmin;
  }

  
  /*************************** MENU NAV **************************/
  nav div{
    width:100%;
    text-align: right;
    margin-top: -85px;
  }
  nav div a{
    color:white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    font-weight: bold;
    text-decoration: none;
    text-align:center;
    padding: 15px 2.5% 15px 2.5%;
    display:inline-block;
  }
  nav div a:hover{
    color:white;
    background-color:rgba(0,0,0,0.1);
  }
  
  
  /*************************** BODY **************************/
  #encabezado{
    position: absolute;
    text-align: center;
    display: flex;
    top: 15vmin;
    right: 2vmin;
  }
  #encabezado h1{
    font-size: 4vmin;
    letter-spacing: 3px;
  }
  
  #contenido{
    text-align: center;
  }
  #contenido div{
    display: block;
    float: left;
    width: 100%;
  }
  #contenido table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  #contenido table th{
    background-color: #500;
    font-size: 22px;
    padding: 1vmin 0 1vmin 0;
  }
  #contenido table td{
    padding: 1vmin 0 1vmin 0;
  }
  #contenido table tr:nth-child(even){background-color: rgba(25,25,25,0.8);}
  #contenido table tr:nth-child(odd){background-color: rgba(25,12,0,0.8);}
  #grupoFrutas{
     margin-left: 0!important;
  }
  #tablaDatos, #tablaDatos tr{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
  }
  #tablaDatos th{
    border: 1px inset white;
    font-weight: bolder;
    padding: 0 0.5vmin 0 0.5vmin;
  }
  #tablaDatos tr, #tablaDatos td{
    border: 1px inset white;
    padding: 0 0.5vmin 0 0.5vmin;
  }
  
  
  input[type=submit]{
    color: white;
    background-color: #500;
    padding: 2vmin;
    border-radius: 10vmax;
    letter-spacing: 2px;
    font-size: inherit;
    width: 10vmin;
    cursor: pointer;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 1));
  }
  
  /* Menu1 */
  #fruta{
    width: 17vmin;
    padding: 5vmin 0 5vmin 0;
    filter: drop-shadow(0.5px 0.5px 2px rgba(255, 255, 255, 1));
  }

  
   /*************************** FOOTER **************************/
   #piepagina{
    text-align: center;
    margin-top: 3vmin;
  }
  
  
